<div
  id="home"
  class="container-fluid d-flex justify-content-center align-items-center"
  style="height: 91.5vh"
>
  <div class="container text-center text-white">
    <h2>Welcome to Absolute Cinema</h2>
    <p>
      Absolute Cinema adalah platform yang menyediakan berbagai pilihan film dan
      teater yang dapat Anda nikmati. Kami menawarkan daftar film terbaru dan
      berbagai pilihan teater yang menayangkan film-film tersebut, memberikan
      pengalaman menonton yang tak terlupakan. Temukan film favorit Anda dan
      pilih teater terbaik untuk menikmati tayangan tersebut. Di Absolute
      Cinema, kami berkomitmen untuk memberikan pengalaman hiburan terbaik bagi
      penggemar film.
    </p>
  </div>
</div>
